In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import google_key

In [3]:
# Files to load
cities_data_to_load = os.path.join("weather_data", "cities.csv")

# Read the file and store it in a Pandas DataFrame.
city_data_df = pd.read_csv(cities_data_to_load)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2020-01-05 14:21:59,55.74,-97.86,5.00,92,90,4.70
1,1,Mount Gambier,AU,2020-01-05 14:21:59,-37.83,140.78,48.20,81,5,8.05
2,2,Vung Tau,VN,2020-01-05 14:19:02,10.35,107.08,76.06,76,100,9.66
3,3,Puerto Escondido,MX,2020-01-05 14:22:00,15.86,-97.07,69.80,100,40,6.93
4,4,Igarka,RU,2020-01-05 14:22:00,67.47,86.57,24.19,92,100,12.68

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_key)

In [5]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind=city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vung Tau,VN,2020-01-05 14:19:02,10.35,107.08,76.06,76,100,9.66
5,5,Rio Grande,BR,2020-01-05 14:22:00,-32.03,-52.10,86.00,51,40,11.41
6,6,Namatanai,PG,2020-01-05 14:22:01,-3.66,152.44,84.11,72,87,6.98
7,7,Rikitea,PF,2020-01-05 14:22:01,-23.12,-134.97,75.47,72,8,14.50
15,15,Bambous Virieux,MU,2020-01-05 14:22:03,-20.34,57.76,77.00,94,75,9.17
21,21,Lebu,ET,2020-01-05 14:22:04,8.96,38.73,75.20,38,20,10.29
37,37,Chuy,UY,2020-01-05 14:19:18,-33.69,-53.46,78.40,49,0,4.47
39,39,Conde,BR,2020-01-05 14:22:09,-11.81,-37.61,79.77,82,100,14.27
40,40,Ponta Do Sol,BR,2020-01-05 14:22:09,-20.63,-46.00,78.12,71,98,4.99
50,50,Atambua,ID,2020-01-05 14:22:11,-9.11,124.89,76.08,85,93,2.44

In [12]:
#check for null values
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
2          Vung Tau      VN     76.06  10.35  107.08
5        Rio Grande      BR     86.00 -32.03  -52.10
6         Namatanai      PG     84.11  -3.66  152.44
7           Rikitea      PF     75.47 -23.12 -134.97
15  Bambous Virieux      MU     77.00 -20.34   57.76
21             Lebu      ET     75.20   8.96   38.73
37             Chuy      UY     78.40 -33.69  -53.46
39            Conde      BR     79.77 -11.81  -37.61
40     Ponta Do Sol      BR     78.12 -20.63  -46.00
50          Atambua      ID     76.08  -9.11  124.89

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vung Tau,VN,76.06,10.35,107.08,Seaside Resort
5,Rio Grande,BR,86.00,-32.03,-52.10,Swan Express Rio Grande
6,Namatanai,PG,84.11,-3.66,152.44,Namatanai Hotel
7,Rikitea,PF,75.47,-23.12,-134.97,Pension Maro'i
15,Bambous Virieux,MU,77.00,-20.34,57.76,Casa Tia Villa
21,Lebu,ET,75.20,8.96,38.73,Dah-Lak Guest House
37,Chuy,UY,78.40,-33.69,-53.46,Nuevo Hotel Plaza
39,Conde,BR,79.77,-11.81,-37.61,Pousada Ponta De Areia
40,Ponta Do Sol,BR,78.12,-20.63,-46.00,Hotel Escarpas do Lago
50,Atambua,ID,76.08,-9.11,124.89,Pondok Pesantren Al Muhajirin Atambua

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Adding information box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))