In [1]:
# Import the dependencies.
import pandas as pd
import gmaps

# Import the API key.
from config_gmaps import g_key

In [2]:


# Read the file and store it in a Pandas DataFrame.
vacation_data_df = pd.read_csv('weather_data/WeatherPy_vacation.csv')
vacation_data_df.head(100)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Arraial Do Cabo,BR,71.60,clear sky,-22.97,-42.03,Pousada Porto Praia
1,5,Kahului,US,80.60,scattered clouds,20.89,-156.47,Maui Seaside Hotel
2,7,Rikitea,PF,75.51,broken clouds,-23.12,-134.97,Pension Maro'i
3,10,Sambava,MG,75.34,broken clouds,-14.27,50.17,Melrose
4,17,Puerto Ayora,EC,84.20,few clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...,...
95,267,Mangaluru,IN,82.90,broken clouds,12.87,74.88,Goldfinch Hotel
96,269,Miramar,US,84.20,clear sky,25.99,-80.23,Stadium Hotel
97,270,Samarai,PG,80.58,overcast clouds,-10.62,150.67,Nuli Sapi
98,282,Amudat,UG,70.56,overcast clouds,1.95,34.95,Silent Night Hotel
99,283,Rantauprapat,ID,75.20,overcast clouds,2.10,99.83,Permata Land Hotel & Resort

In [3]:
India_itinerary_df = vacation_data_df.loc[(vacation_data_df['Country'] =='IN')]
India_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
30,103,Tezu,IN,71.89,clear sky,27.92,96.17,Circuit House
43,135,Kochi,IN,80.60,thunderstorm,9.94,76.26,Trident Hotel Cochin
63,200,Tura,IN,74.43,clear sky,25.52,90.22,Hotel RIKMAN Continental
95,267,Mangaluru,IN,82.90,broken clouds,12.87,74.88,Goldfinch Hotel
178,537,Shivrajpur,IN,76.96,clear sky,22.42,73.65,श्री काला जी पालर

In [4]:
# choose four cities from Brazil.(Cidreira, Santa cruz do sul, Cangusu, Rio grande)
four_cities_df = India_itinerary_df.loc[[30,43,95,178],:]
four_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
30,103,Tezu,IN,71.89,clear sky,27.92,96.17,Circuit House
43,135,Kochi,IN,80.60,thunderstorm,9.94,76.26,Trident Hotel Cochin
95,267,Mangaluru,IN,82.90,broken clouds,12.87,74.88,Goldfinch Hotel
178,537,Shivrajpur,IN,76.96,clear sky,22.42,73.65,श्री काला जी पालर

In [5]:

# create a list of tuple of 4 cities' coordinate.
gmaps.configure(api_key = g_key)

India_coord_list = list(zip(four_cities_df['Lat'], four_cities_df['Lng']))
India_coord_list

[(27.92, 96.17), (9.94, 76.26), (12.87, 74.88), (22.42, 73.65)]

In [6]:
# create a directions layer map by gmaps directions layer.
fig = gmaps.figure()
India_route = gmaps.directions_layer(India_coord_list[0],India_coord_list[-1], waypoints=[India_coord_list[1],India_coord_list[2]],
                                  travel_mode='BICYCLING')
fig.add_layer(India_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# create India FOUR cities marker layer map with a pop-up info box 
gmaps.configure(api_key = g_key)
locations = four_cities_df[['Lat','Lng']]
info_box_template='''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>'''

hotel_info = [info_box_template.format(**row) for index, row in four_cities_df.iterrows() ]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))